.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* my css */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  margin: 0 auto;
  gap: 1rem;
}

form>div {
  display: flex;
  justify-content: space-between;

  background-color: grey;
  padding: .4rem;
  border-radius: 4px;
}

form input {
  margin-left: 1rem;
  padding: .4rem;
  border-radius: 4px;
}

#products-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  margin: 0 auto;
}

.product-link {
  padding: 1rem;
  gap: 1rem;
}

Link,
a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

Link,
a:hover {
  color: blue;
}

#detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 20rem;
  background-color: green;
  border-radius: 15px;
  padding: 2rem;
  margin-top: 10rem
}

#detail-container p,
#detail-container h1 {
  color: rgb(237, 237, 12);
}

#detail-container b {
  color: black;
}